<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Nutrition</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true">

    @RenderSection("Styles", required: false)
</head>
<body id="VueLayout">

    <div class="sidebar">
        <div class="logo-details">
            <img class="img-fluid p-3" src="~/images/logo_voxqualitymonitor.png" />
        </div>

        <ul class="nav-links">
            <hr class="my-0 bg-white" />
            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="link_name">Dashboard</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Dashboard</a></li>
                </ul>
            </li>
            <hr class="my-0 bg-white" />
            <li>
                <a href="@Url.Action("Index","BodyAssessment")">
                    <i class='bx bx-universal-access'></i>
                    <span class="link_name">Avaliação</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Avaliação</a></li>
                </ul>
            </li>
            <hr class="my-0 bg-white" />
            <li>
                <a href="@Url.Action("Index","Consultation")">
                    <i class='bx bx-list-check'></i>
                    <span class="link_name">Consultas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Consultas</a></li>
                </ul>
            </li>
            <hr class="my-0 bg-white" />
            <li>
                <a href="@Url.Action("Index","Food")">
                    <i class='bx bx-bowl-rice'></i>
                    <span class="link_name">Dietas</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Dietas</a></li>
                </ul>
            </li>
            <hr class="my-0 bg-white" />
            <li>
                <a href="@Url.Action("Index","Trainning")">
                    <i class='bx bx-dumbbell'></i>
                    <span class="link_name">Treinos</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Treinos</a></li>
                </ul>
            </li>
            <hr class="my-0 bg-white" />
            <li>
                <a href="@Url.Action("Index","User")">
                    <i class='bx bxs-user-account'></i>
                    <span class="link_name">Usuários</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Usuários</a></li>
                </ul>
            </li>
            <hr class="my-0 bg-white" />
        </ul>
    </div>

    <section class="nav-section shadow d-flex justify-content-between align-content-center">
        <div class="nav-content d-flex justify-content-start align-content-center">
            <i class='bx bx-menu'></i>
        </div>
        <div class="nav-content-logout d-flex justify-content-center align-content-center p-3">
            <a href="#" v-on:click="Logout()">
                <i class='bx bx-log-out'></i>
                <span class="text">Sair</span>
            </a>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid p-4">

            @RenderBody()

        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/vue.js" asp-append-version="true"></script>
    <script src="~/js/axios.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    LogoutSucess: false,
                };
            },
            methods: {
                Logout: function() {
                    var _this = this;

                    axios.post('/Login/Logout')
                    .then(result => {
                        _this.LogoutSucess = result.data;

                        if (_this.LogoutSucess){
                            _this.RedirectPageLogout();
                        }
                    })
                    .catch(error => console.error('Erro ao consultar usuarios:', error));
                },

                RedirectPageLogout: function (){
                    window.location.href = '@Url.Action("Index", "Login")';
                }
            }
        });
        app.mount("#VueLayout");
    </script>

</body>
</html>
